In [2]:
import pandas as pd

df = pd.read_csv("aux.csv")

df.head()

,Object,Percentage,Num objects,Total num objects,NNE,NNT,GCL,NNE VND,NNT VND,GCL VND
0,Violetgrass,0.10,20,200,137.977044,26.714777,68.744875,79.303530,26.714777,68.744875
1,Violetgrass,0.25,50,200,405.113568,88.741958,175.467409,194.035461,88.741958,174.937654
2,Violetgrass,0.50,100,200,801.407839,259.843919,329.953514,401.048152,259.843919,321.662802
3,Violetgrass,0.75,150,200,1211.748949,440.752114,496.615290,561.775565,435.704497,479.934765
4,Violetgrass,1.00,200,200,1521.305509,693.887895,698.694417,728.361546,686.706428,686.706428

In [6]:
aux = []
for row in range(len(df)):

    nnt = df["NNT"][row]
    gcl = df["GCL"][row]

    aux += [round(gcl/nnt, 2)]

str(aux)

'[2.57, 1.98, 1.27, 1.13, 1.01, 1.63, 1.63, 1.48, 1.11, 1.0, 1.54, 1.78, 1.24, 1.26, 1.03, 1.43, 1.08, 1.38, 0.99, 1.0, 1.0, 0.95, 1.26, 1.18, 1.01, 1.33, 1.41, 1.11, 1.22, 1.11, 1.0, 1.04, 1.11, 1.28, 1.0, 2.35, 0.94, 0.85, 1.2, 1.03, 1.87, 2.12, 1.22, 1.06, 1.0, 2.55, 1.55, 1.36, 1.05, 1.0]'

In [11]:
aux = []
for row in range(len(df)):

    nnt = df["NNT"][row]
    nntvnd = df["NNT VND"][row]

    aux += [round(nntvnd/nnt, 2)]

print(str(aux))
print(len(aux))
print(len([a for a in aux if a == 1.0]))

[1.0, 1.0, 1.0, 0.99, 0.99, 1.0, 1.0, 0.98, 0.99, 1.0, 1.0, 1.0, 1.0, 0.98, 0.97, 1.0, 1.0, 0.99, 0.95, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.99, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
50
41

In [14]:
aux = []
for row in range(len(df)):

    nntvnd = df["NNT VND"][row]
    gclvnd = df["GCL VND"][row]

    aux += [(nntvnd <= gclvnd)]

print(str(aux))
print(len(aux))
print(len([a for a in aux if a]))

[True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, True, False, True, True, True, True, False, True, True, True, True, False]
50
43